.conteiner-for-example {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner-for-hosting {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
}

.conteiner-for-hosting__offer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 17vw;
  height: 190px;
}

.conteiner-for-hosting__name-label {
  font-size: 1.2em;
  color: rgb(247 97 51);
  margin: 5px 0 10px 0;
}

.conteiner-for-hosting__button-link {
  width: 45%;
  height: 25px;
  background-color: rgb(247 97 51);
  padding: 1px;
  margin: 5px 0 10px 0;
  color: white;
  border: 0;
}

.conteiner-for-hosting__vertical-border-line {
  border-left: 1px solid rgba(109, 109, 109, 0.534);
  border-right: 1px solid rgba(109, 109, 109, 0.534);
  width: 17.5vw;
  height: 190px;
  margin: 0 0 5px 0;
}