@media (max-width: 1024px) {
  .conteiner-hosting-offer__name-label {
    font-size: 1.0em;
  }

  .conteiner-hosting-offer {
    width: 30vw;
  }
  
  .conteiner-hosting-offer__button-link {
    width: 65%;
  }
}

@media (min-width: 1025px) {
  .conteiner-hosting-offer__button-link {
    width: 45%;
  }

  .conteiner-hosting-offer {
    width: 17.5vw;
  }

  .conteiner-hosting-offer__name-label {
    font-size: 1.2em;
  }
}

.conteiner-hosting {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner-hosting__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
}

.conteiner-hosting-offer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 190px;
}

.conteiner-hosting-offer__img {
  object-fit: contain;
  box-sizing: border-box;
}

.conteiner-hosting-offer__name-label {
  color: rgb(247 97 51);
  margin: 5px 0 10px 0;
  text-align: center;
}

.conteiner-hosting-offer__button-link {
  height: 25px;
  background-color: rgb(247 97 51);
  padding: 1px;
  margin: 5px 0 10px 0;
  color: white;
  border: 0;
}

.conteiner-hosting__vertical-border-line {
  border-left: 1px solid rgba(109, 109, 109, 0.534);
  border-right: 1px solid rgba(109, 109, 109, 0.534);
  height: 190px;
  margin: 0 0 5px 0;
}