.conteiner-for-example {
  display: flex;
  justify-content: center;
}

.ring-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 300px;
}

.ring-container__ring {
  margin: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.ring-container__pipeline {
  height: 11px;
  width: 100px;
  background-color: rgb(198 198 198);;
}

.ring-container__ring___green {
  background-color: rgb(178 209 53)
}

.ring-container__ring___purple {
  background-color: rgb(171 77 156);
}

.ring-container__ring___gray {
  background-color: rgb(198 198 198);
}

.ring-container__ring___text-color-white {
  color: rgb(255, 255, 255);
}

.ring-container__ring___text-color-black {
  color: rgb(0, 0, 0);
}