.progress-container {
    background: linear-gradient(to bottom, black, rgb(189, 189, 189));
    height: 20px;
    width: 100%;
    border-radius: 20px;
    border: 0.005vw solid black;
    overflow: hidden;
}

.progress-container__linear {
    background: linear-gradient(to bottom, #48bafc, rgb(0 147 243));
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.8);
    width: 35%;
    height: 100%;
}